VITE_TWELVEDATA_API_KEY=
VITE_GROQ_API_KEY=
VITE_FINNHUB_API_KEY=
VITE_CRYPTOPANIC_API_KEY=

VITE_TWELVEDATA_URL=https://api.twelvedata.com
VITE_GROQ_URL=https://api.groq.com/openai/v1/chat/completions
VITE_FINNHUB_URL=https://finnhub.io/api/v1
VITE_CRYPTOPANIC_URL=https://cryptopanic.com/api/v1/posts/
VITE_COINGECKO_URL=https://api.coingecko.com/api/v3
